@import './styles/third-party/normalize';
@import '../../configs/theme/config-styles';
@import './styles/typography';
@import './styles/links';
@import './styles/animations';

/* global styles go here */
:global(body) {
  background-color: $lightGrey;  
  color: $darkGrey35;
  font-family: 'Asap-Regular', sans-serif;

  .container {
    margin: 20px;
    max-width: 97%;
    display: flex;
    flex-direction: column;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    list-style-position: outside;
  }

  .app-shell {
    display: inline-block;
    height: 86vh;
    width: 100%;
    margin-top: 75px;
  }

}
