:local(.styles) {
    font-family: 'Roboto';
    .MuiTable-root {
        background-color: #1D2024;
    }
    .MuiTableHead-root .MuiTableCell-root{
        color: $dark2;
        font-weight: bold;
    }
    .MuiTableBody-root .MuiTableCell-root{
        color: $white35;
        font-weight: 300;
    }    
}